body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0a0a23;
  color: #2e2f42;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.gb-link {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  max-width: 100px;
  background-color: #86fa01;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 20px;
  transition: background-color 250ms linear;
}

.gb-link:hover,
.gb-link:focus {
  background-color: #86fa01b0;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  margin: 3px;
}
