body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

h2 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.gb-link {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  max-width: 100px;
  background-color: #86fa01;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 20px;
  transition: background-color 250ms linear;
}

.gb-link:hover,
.gb-link:focus {
  background-color: #86fa01b0;
}

.container {
  width: 95%;
  max-width: 400px;
  padding: 0 20px;
  margin: 0 auto;
}

.timer-form {
  margin-bottom: 50px;
}

.inputs-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.timer-label {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.timer-input {
  width: 80px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  display: block;
  transition: border-color 250ms linear, box-shadow 250ms linear;
}

.timer-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.timer-input:disabled {
  background-color: #e4e2e2;
  color: #a1a1a1;
  border-color: #888;
  cursor: not-allowed;
}

.timer-input::-webkit-inner-spin-button,
.timer-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.message {
  color: #ff0000;
  text-align: center;
  background-color: #ff565683;
  border-left: 10px solid #b90000;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.btn-wrap {
  display: flex;
}

.timer-btn {
  font-weight: bold;
  color: white;
  background-color: #00b37f;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 250ms linear, box-shadow 250ms linear,
    outline 250ms linear, transform 250ms linear, color 250ms linear,
    opacity 250ms linear;
  display: block;
  margin: 0 auto;
}

.timer-btn:hover,
.timer-btn:focus {
  background-color: #009966;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.timer-btn:active {
  background-color: #007f4d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.timer-btn:disabled {
  background-color: #e4e2e2;
  color: #a1a1a1;
  cursor: not-allowed;
}

.timer-btn:disabled:hover {
  box-shadow: none;
}

.timer {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 32px;
}

.reset-btn {
  font-weight: bold;
  color: white;
  background-color: #ff5733;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 250ms linear, box-shadow 250ms linear,
    outline 250ms linear, transform 250ms linear, color 250ms linear,
    opacity 250ms linear;
  display: block;
  margin: 0 auto;
}

.reset-btn:hover,
.reset-btn:focus {
  background-color: #b33f24;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.reset-btn:active {
  background-color: #7f2d1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.reset-btn:disabled {
  background-color: #e4e2e2;
  color: #a1a1a1;
  cursor: not-allowed;
}

.reset-btn:disabled:hover {
  box-shadow: none;
}

.mute-btn {
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 250ms linear, box-shadow 250ms linear,
    outline 250ms linear, transform 250ms linear, color 250ms linear,
    opacity 250ms linear;
  display: block;
  margin: 0 auto;
}

.mute-btn:hover,
.mute-btn:focus {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.mute-btn:active {
  background-color: #003f7f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.mute-btn:disabled {
  background-color: #e4e2e2;
  color: #a1a1a1;
  cursor: not-allowed;
}

.mute-btn:disabled:hover {
  box-shadow: none;
}

.timer-wrapper {
  position: relative;
  width: 200px;
  height: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
}

.timer-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #007bff;
  transform-origin: left;
  animation-timing-function: linear;
}

@keyframes reduce-width {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
